/.config
!scripts
!config/compton.cfg
!config/redshift.conf
!config/termite/config
!config/neofetch/*
!config/rofi/*
!config/twmn/*
!config/i3/*
!.xinitrc
!i3blocks/*
!.Xresources
!.gitignore
!.tmux.conf
!.bashrc
!.conkyrc
!.gitignore
!.tmux.conf
!.vimrc
!.vim/autoload
!.xinitrc
!.zshrc
!me.zsh-theme
!powerless.zsh
!oh-my-zsh/*
!.tmux-themepack
!.fonts/*
