.config/spotify/
.config/VirtualBox/
.config/chromium/
.config/Slack/
.config/skypeforlinux/


.config/QtProject.conf
.config/Thunar/
.config/Trolltech.conf
.config/configstore/
.config/dconf/
.config/enchant/
.config/evince/
.config/evolution/
.config/fontconfig/
.config/gcloud/
.config/gedit/
.config/gocode/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/inkscape/
.config/libreoffice/
.config/live-latex-preview/
.config/mc/
.config/mimeapps.list
.config/pavucontrol.ini
.config/polybar/
.config/pulse/
.config/qBittorrent/
.config/ranger/
.config/xfce4/
.config/youtube-viewer/
.viminfo
scripts/currWall
